.App {
  text-align: center;
}
body {
  background-color: #C0F5F9;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:visited {
  color: black;
}

