.detail-card {
  display: flex;
  flex-direction: column;
  background-color: #16bdf1;
  border-radius: 25px;
  padding-bottom: 1rem;
  margin: 2.5rem auto;
  width: 90vw;
}

.detail-image {
  display: flex;
  margin: auto;
  border-radius: 20px;
  width: 85vw;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}
.back-btn {
  font-size: 2rem;
}
.detail-home-btn {
  font-size: 2rem;
}
.edit-btn {
  font-size: 2rem;
}
.delete-btn {
  font-size: 2rem;
}

.detail-home-btn:hover {
  color: #e91d1d;
}
.edit-btn:hover,
.delete-btn:hover,
.back-btn:hover {
  cursor: pointer;
  color: #fbee77;
}
.category-name {
  font-family: "Finger Paint", cursive;
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}

.post-data {
  font-family: "Schoolbell", cursive;
  font-size: 1.5rem;
  padding: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .detail-card {
    width: 70vw;
  }
  .detail-image {
    width: 60vw;
  }
}
